body {
    text-align: center;
    margin: 100px;
}

.calc-container {
    background-color: #1C0C5B;
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 350px;
    box-shadow: 10px 10px 5px #78729A ;
    gap: 30px;
}

.main-btns {
    display: flex;
}

.num-btn {
    height: 80px;
    width: 80px;
    background-color: white;
    border: none;
    border-radius: 2px;
    color: #1C0C5B;
    font-size: 40px;
}

.operator-btn {
    height: 80px;
    width: 80px;
    background-color: #FF5677;
    border: none;
    border-radius: 2px;
    font-size: 40px;
    color: white;
}

#clear {
    background-color: #FF5677;
    border: none;
    border-radius: 2px;
    width: 160px;
    height: 40px;
    font-size: 25px;
    color: white;
}

#display {
    height: 80px;
    width: 320px;
    background-color: white;
    opacity: 70%;
    border-radius: 2px;
    justify-content: center;
    margin: auto;
}





